@use "../../styles/vars";

.jobRow {
  height: 120px;
  margin-block: 8px;
  text-align: center;
  padding: 32px;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
}
.jobLink {
  text-decoration: none;
  color: inherit;
}

.jobRow:nth-of-type(2n) {
  background-color: #ebe7e7;
}

.applyButton {
  width: 128px;
  background: linear-gradient(90deg, #dbecff 0%, #cbe2fb 90%);
  border-radius: 16px;
  border: none;
}

.applyButton:hover,
.applyButton:focus,
.applyButton:active {
  background: linear-gradient(90deg, #dbecff 0%, #cbe2fb 90%);
  box-shadow: 1px;
  color: gray;
}

.applyButton:focus {
  border: solid black 1px;
}

.iconCol {
  width: 64px;
  height: 64px;
}

.iconCol > * {
  width: 100%;
  height: 100%;
}
