.light{
    .admin_sidebar {
        .open {
            width: 240px;
            height: 100vh;
            background: #152931;
            position: fixed;
    
            .baslik {
                font-weight: bold;
                font-size: 15px;
                text-align: center;
                color: white;
                display: flex;
                flex-direction: column;
                margin-top: 10px;
            }
    
            .liste {
                padding: 10px 0;
                z-index: 1;
    
                ul {
                    list-style: none;
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    font-weight: bold;
                    gap: 10px;
                    color: white;
                    padding: 0;
                    line-height: 30px;
                    li {
                        padding-left: 20px;
                        a {
                            color: white;
                            font-size: 13px;
                            text-decoration: none;
                            padding-left: 10px;
    
                        }
                    }
                }
    
                li:hover {
                    color: #fff;
                    background: #1d2f36;
                    border-left: 2px solid rgb(10, 205, 240);
                }
            }
        }
        .close{
            width: 40px;
            height: 100vh;
            background: #152931;
            position: fixed;
    
            .baslik {
                    padding: 10px;
                    margin: 10px;
                    background: url('../../public/img/img1.jpg');
                    width: 45px;
                    height: 45px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    h2{
                        display: none;
                    }
                   }
            .liste {
                padding: 10px 0;
                z-index: 1;
                ul {
                    list-style: none;
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    font-weight: bold;
                    gap: 5px;
                    color: white;
                    padding: 0;
                    line-height: 30px;
                    
                    li {
                        font-size: 15px ;
                        text-align: center;
                        a {
                            color: white;
                            display: none;
                            text-align: none;
                            
                        }
                    }
                }
                li:hover {
                    color: #fff;
                    background: #1d2f36;
                    border-left: 2px solid rgb(10, 205, 240);
                }
            }
        }
    }
}
.dark{
    .admin_sidebar {
        .open {
            width: 240px;
            height: 100vh;
            background: #000;
            position: fixed;
    
            .baslik {
                font-weight: bold;
                font-size: 15px;
                text-align: center;
                color: white;
                display: flex;
                flex-direction: column;
                margin-top: 10px;
            }
    
            .liste {
                padding: 10px 0;
                z-index: 1;
    
                ul {
                    list-style: none;
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    font-weight: bold;
                    gap: 10px;
                    color: white;
                    padding: 0;
                    line-height: 30px;
    
                    li {
                        padding-left: 20px;
                        a {
                            color: white;
                            font-size: 13px;
                            text-decoration: none;
                            padding-left: 10px;
    
                        }
                    }
                }
    
                li:hover {
                    color: #fff;
                    background: #454546;
                    border-left: 2px solid rgb(5, 95, 110);
                }
            }
        }
        .close{
            width: 40px;
            height: 100vh;
            background: #000;
            position: fixed;
    
            .baslik {
                    padding: 10px;
                    margin: 10px;
                    background: url('../../public/img/img1.jpg');
                    width: 45px;
                    height: 45px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    h2{
                        display: none;
                    }
                   }
            .liste {
                padding: 10px 0;
                z-index: 1;
                ul {
                    list-style: none;
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    font-weight: bold;
                    gap: 5px;
                    color: white;
                    padding: 0;
                    line-height: 30px;
                    
                    li {
                        font-size: 15px ;
                        text-align: center;
                        a {
                            color: white;
                            display: none;
                            text-align: none;
                        }
                    }
                }
                li:hover {
                    color: #fff;
                    background: #454546;
                    border-left: 2px solid rgb(5, 95, 110);
                }
            }
        }
    }
}
