.admin_login {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;

	.screen {
		background: linear-gradient(90deg, #5584AC, #437dac);
		position: relative;
		height: 550px;
		width: 360px;
		box-shadow: 0px 0px 24px #29577e;

		.screen__content {
			z-index: 1;
			position: relative;
			height: 100%;
		}

		.login {
			h2 {
				font-size: 16px;
				color: black;
				text-align: center;
			}

			display: flex;
			align-items:flex-start;
			justify-content:flex-start;
			flex-direction: column;
			width: 320px;
			padding: 20px;
			padding-top: 70px;

			.user-box {
				position: relative;
				margin-top: 25px;
				display: flex;
				align-items: center;
				justify-content: center;
				border: 1px solid #000;

				span {
					display: flex;
					font-size: 14px;
					align-items: center;
					;
					justify-content: center;
					width: 40px;
					height: 42px;
					color: rgb(0, 0, 0);
					background: rgb(219, 219, 219);
				}

				input {
					width: 100%;
					border: none;
					outline: none;
					padding: 10px 0;
					font-size: 14px;
					margin-left: 3px;
					color: #000;
					background: transparent;
				}
			}

			.bttn {
				text-align: center;
				margin-left: 0%;
				font-size: 16px;
				margin-top: 15px;
				width: 40%;
				margin-left: 35%;
				height: 40px;
				border-radius: 10px;
				color: #fff;
				background: linear-gradient(90deg, #5584AC, #437dac);
				border: none;
			}

			a {
				cursor: pointer;
				margin-top: 10px;
				width: 50%;
			}
		}

		.screen__background {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 0;
			-webkit-clip-path: inset(0 0 0 0);
			clip-path: inset(0 0 0 0);
		}

		.screen__background__shape {
			transform: rotate(45deg);
			position: absolute;
		}

		.screen__background__shape1 {
			height: 520px;
			width: 520px;
			background: #FFF;
			top: -50px;
			right: 120px;
			border-radius: 0 72px 0 0;
		}

		.screen__background__shape2 {
			height: 220px;
			width: 220px;
			background: #4686ab;
			top: -172px;
			right: 0;
			border-radius: 32px;
		}

		.screen__background__shape3 {
			height: 540px;
			width: 190px;
			background: linear-gradient(270deg, #46759c, #5586ad);
			top: -24px;
			right: 0;
			border-radius: 32px;
		}

		.screen__background__shape4 {
			height: 400px;
			width: 200px;
			background: rgb(27, 106, 143);
			top: 420px;
			right: 50px;
			border-radius: 60px;
		}
	}
}