$ac: #abc9ff;
$ko: #0078aa;
$black: #202224;
$black75: rgba($black, 75%);
$black50: rgba($black, 50%);
$black25: rgba($black, 25%);
$black10: rgba($black, 10%);
$black5: rgba($black, 5%);
$bg1: #f3fafc;
$color1: #6ca8ff;
$color2: #735eff;
$gradient1: linear-gradient(90deg, $color2 0%, $color1 91.57%);
$gradient2: linear-gradient(180deg, #6ca8ff 0%, #735eff 100%);
$gradient3: linear-gradient(180deg, $bg1 0%, rgba(201, 243, 255, 0.06) 50%);
$font1: "RobotoSlab-Regular";
$font1-bold: "RobotoSlab-Bold";
$fs1: 90px;
$fs2: 64px;
$fs3: 45px;
$fs4: 32px;
$fs5: 22px;
$fs6: 16px;
