@use 'vars';

.access{
    .container{
        width: 70%;

       
    }
    margin:  auto;
    .left{
        background: vars.$ac;
        height: 80vh;
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        margin: 50px 0 50px 0;
        img{
            display: flex;
            justify-content:flex-start;
            margin-top: -10px;
        }
        p{
            color: vars.$ko;
            width: 80%;
            height: 40px;
            align-items: center;
            margin-top: 10px;
        }
    }
    .right{
        padding: 0;
        background: vars.$ko;
        height: 80vh;
        width: 50%;
        display: flex;
        margin: 50px 0 50px 0;
        Form{
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .btn{
            width:100%;
            border-radius: none;
        }
        .icon{
            display: flex;
            width: 50%;
            margin-left: 25%;
            button{
                background: vars.$ko;
                width: 30%;
                border: none;
            }
        }
    }
}