.button {
  background-color: #735eff;
  border: none;
  outline: none;
  width: 8rem;
  text-align: center;
  color: white;
  padding-inline: 16px;
  padding-block: 8px;
}

.button:hover {
  background-color: #5e55fc;
}

.button:active {
  box-shadow: 3px 3px 7px #335ebe;
}

.button.secondary {
  background: linear-gradient(90deg, #735eff 0%, #6ca8ff 91.57%);
  min-height: 42px;
}

// TODO: secondary styles for hover and active