[class^="carousel-control-"] {
  background-color: #6ca8ff85;
}
.carousel-caption {
  color: black;
}
.carousel-item {
  height: 32rem;
}
.carousel-indicators button {
  background-color: #0b5ed7 !important;
}
