.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin-top: 1.5em;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
  max-width: 80vw;
  margin-inline: auto;
}

.description {
  margin-block: 4rem;
  line-height: 1.5;
  font-size: 1.5rem;
}
