@use "vars";

.col {
  display: flex;
  flex-direction: row;
}
.colChild {
  margin-right: 16px;
}

.cardHeader {
  line-height: 46px;
  color: vars.$black;
}

.openingsNavbar {
  display: flex;
  flex-direction: row;
  justify-content: center;

  a {
    margin-right: 32px;
    margin-bottom: 64px;
    font-size: 36px;
    text-decoration: none;
    color: #2d8fff;
  }

}
