@use "vars";
@import "./bootstrap.scss";
@import "./index.scss";
@import "./login.scss";
@import "./AccessTabs.scss";
@import "./signup.scss";
@import "./admin/admin_sidebar.scss";
@import "./admin/admin_header.scss";
@import "./admin/admin_register.scss";
@import "./admin/admin_login.scss";
@import "./admin/body.scss";
@import "./navbar.scss";


html {
  scroll-behavior: smooth;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

input:focus{
  box-shadow: 0 0 0 0;
}