@use "vars";
@import "./bootstrap.scss";
@import "./index.scss";
@import "./login.scss";
@import "./AccessTabs.scss";
@import "./signup.scss";
@import "./admin/admin_sidebar.scss";
@import "./admin/admin_header.scss";
@import "./admin/admin_register.scss";
@import "./admin/admin_login.scss";
@import "./admin/body.scss";
@import "./admin/admin_kontrol.scss";
@import "./navbar.scss";

html {
  scroll-behavior: smooth;
}

.dt-action{
  svg{
    padding: 0 10px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.form-control:focus{
  box-shadow: 0 0 0 0;
}
.card-header{
  background:white;
}
a{
  color:#112a45;
  text-decoration:none;
  &:hover{
    color:#112a45;
  }
}

