@import "./login.scss";
@import "./bootstrap.scss";
@import "./AccessTabs.scss";
html,
body {
  padding: 0;
  margin: 0;
  background:#fff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}
