@use "vars";

@import "./login.scss";
@import "./bootstrap.scss";
@import "./AccessTabs.scss";
@import "./signup.scss";
html,
body {
  padding: 0;
  margin: 0;
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: vars.$bg1;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// TODO: move to home

@font-face {
  font-family: "RobotoSlab-Regular";
  src: url("/fonts/RobotoSlab-Regular.ttf");
}

@font-face {
  font-family: "RobotoSlab-Bold";
  src: url("/fonts/RobotoSlab-Bold.ttf");
}
