@use "vars";

.home {
  margin-inline: 64px;
  max-width: 80vw;
  background-color: vars.$bg1;
}

.home {
  .title,
  .description {
    font-family: "RobotoSlab-Regular", sans-serif;
  }
  h1 {
    font-size: 90px;
  }

  h2 {
    font-size: 64px;
  }

  h3 {
    font-size: 45px;
  }

  h4 {
    font-size: 32px;
  }

  h5 {
    font-size: 22px;
  }

  h6 {
    font-size: 16px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: vars.$black;
    text-align: left;
    font-family: "RobotoSlab-Bold", sans-serif;
  }
  h1::before,
  h2::before,
  h3::before,
  h4::before,
  h5::before,
  h6::before {
    content: "# ";
    color: vars.$black50;
  }

  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }

  .title {
    margin-top: 1.5em;
    line-height: 1.15;
    font-size: 4rem;
    padding-top: 16px;
  }

  .title,
  .description {
    text-align: center;
    // max-width: 80vw;
    // margin-inline: auto;
    color: vars.$black;
  }

  .description {
    margin-block: 4rem;
    line-height: 1.5;
    font-size: 1.5rem;
  }
}
