@use "vars";

.home {
  margin-inline: 32px;
}

.home {
  .title,
  .description {
    font-family: vars.$font1, sans-serif;
  }
  h1 {
    font-size: 90px;
  }

  h2 {
    font-size: 64px;
  }

  h3 {
    font-size: 45px;
  }

  h4 {
    font-size: 32px;
  }

  h5 {
    font-size: 22px;
  }

  h6 {
    font-size: 16px;
  }

  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }

  .title {
    margin-top: 2em;
    line-height: 1.15;
    font-size: vars.$fs2;
    padding-top: 16px;
  }

  .title,
  .description {
    color: vars.$black;
  }

  .description {
    margin-block: 4rem;
    line-height: 1.5;
    font-size: vars.$fs5;
  }
}
