@use "vars";

.sitemap {
  margin-inline: 64px;
  max-width: 80vw;
  background-color: #f3fafc;
}

.sitemap {
  .title,
  .description,
  .banner {
    font-family: "RobotoSlab-Regular", sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "RobotoSlab-Bold", sans-serif;
  }

  h1::before,
  h2::before,
  h3::before,
  h4::before,
  h5::before,
  h6::before {
    content: "# ";
    color: vars.$black50;
  }

  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }

  .title {
    margin-top: 1.5em;
    line-height: 1.15;
    font-size: 4rem;
    padding-top: 16px;
  }

  .title,
  .description {
    text-align: center;
    // max-width: 80vw;
    // margin-inline: auto;
    color: vars.$black;
  }

  .description {
    margin-block: 4rem;
    line-height: 1.5;
    font-size: 1.5rem;
  }

  .banner {
    font-weight: bold;
    color: vars.$black;
    font-size: 32px;
  }

  .header {
    font-weight: bold;
    color: vars.$black;
    font-size: 16px;
  }

  .container {
    margin-top: 256px;
  }

  .footer {
    background: linear-gradient(90deg, #735eff 0%, #6ca8ff 91.57%);
    min-height: 48px;
  }
}
