@use "vars";

.sitemap {
  margin-inline: 64px;
  max-width: 80vw;
  background-color: vars.$bg1;
}

.sitemap {
  .title,
  .description,
  .banner {
    font-family: vars.$font1, sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: vars.$font1-bold, sans-serif;
  }

  h1::before,
  h2::before,
  h3::before,
  h4::before,
  h5::before,
  h6::before {
    content: "# ";
    color: vars.$black50;
  }

  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }

  .title {
    margin-top: 1.5em;
    line-height: 1.15;
    font-size: 4rem;
    padding-top: 16px;
  }

  .title,
  .description {
    text-align: center;
    // max-width: 80vw;
    // margin-inline: auto;
    color: vars.$black;
  }

  .description {
    margin-block: 4rem;
    line-height: 1.5;
    font-size: 1.5rem;
  }

  .banner {
    font-weight: bold;
    color: vars.$black;
    font-size: 32px;
  }

  .header {
    font-weight: bold;
    color: vars.$black;
    font-size: 16px;
  }

  .container {
    margin-top: 256px;
    display: flex;
    margin-bottom: 16px;

    a {
      text-decoration: none;
      color: vars.$black75;
    }
  }

  .footer {
    background: vars.$gradient2;
    min-height: 48px;
  }
  .row {
    align-items: left;
    text-align: left;
    padding-bottom: 24px;
  }
  .col {
    color: vars.$black75;
  }

  .col.banner {
    color: vars.$black;
  }

  .itemlist {
    list-style: none;
    padding-left: 0;
  }

  .colheader {
    color: vars.$black75;
    font-weight: bold;
  }

  .colitem {
    margin-bottom: 8px;
  }
}
