
@use 'vars';

.login{
    margin: 30px 0;
    h2 {
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 25px;
        text-align: center;
    }
    
    .user-box {
        position: relative;
        margin-top: 30px ; 
        text-align: center;
        input {
            width: 70%;
            padding: 10px 0;
            font-size: 16px;
            color: #fff;
            margin:0 30px;
            border: none;
            border-bottom: 1px solid #fff;
            outline: none;
            background: transparent;
        }
        label {
            position: absolute;
            top: 0;
            display: flex;
            left: 15%;
            padding: 10px 0;
            font-size: 20px;
            color: #fff;
            pointer-events: none;
            transition: .5s;
        }
        input:focus~label, input:valid~label {
            top: -20px;
            left: 30;
            color: vars.$ac;
            font-size: 12px;
        }
    }
    .bttn{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 25px;
        margin: 30px 0;
        width: 70%;
        margin-left: 15%;
        height: 40px;
        color: vars.$ko;
        background:white;
        border: none;
    }
    .text{
        display: block;
        margin-top: 15px;
        color: #ffffff;
        text-align: center;
    }
    .error {
        color: red;
        text-align: center;
    }
}
