$ac:#ABC9FF;
$ko:#5584AC;
.login{
    margin: 30px 0;
    h2 {
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 25px;
        text-align: center;
    }
    
    .user-box {
        position: relative;
        margin-top: 30px ; 
        input {
            width: 80%;
            padding: 10px 0;
            font-size: 16px;
            color: #fff;
            margin:0 30px;
            border: none;
            border-bottom: 1px solid #fff;
            outline: none;
            background: transparent;
        }
        label {
            position: absolute;
            top: 0;
            left: 30px;
            padding: 10px 0;
            font-size: 20px;
            color: #fff;
            pointer-events: none;
            transition: .5s;
        }
        input:focus~label {
            top: -20px;
            left: 30;
            color: $ac;
            font-size: 12px;
        }
    }
    .bttn{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 25px;
        margin: 30px;
        width: 80%;
        height: 40px;
        color: $ko;
        background:white;
        border: none;
    }
    .text{
        margin-top: 15px;
        color: #ffffff;
        text-align: center;
    }
            
}
