@use 'vars';

.container {
  margin-inline: 16px;
}

.navbar {
  justify-content: center;
  min-height: 75px;
  background: vars.$gradient1 !important;
  color: #fff;
}

.collapse {
  justify-content: center;
}

.nav {
  align-items: center;
}
