@use "vars";

h1,
h2,
h3,
h4,
h5,
h6 {
  &.homesection-header {
    color: vars.$black;
    text-align: left;
    font-family: vars.$font1-bold, sans-serif;
  }
  &.homesection-header::before {
    content: "# ";
    color: vars.$black50;
  }
}
